.card {
 display: inline-block;
 text-align: center;
 width: 3em;
 font-size: 2em;
 box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
 margin: 1em;
 user-select: none;
}

.activeCard {
  color: red;
  background: pink;
 }

 .bigText{
 display: inline-block;
 text-align: center;
 width: 10em;
 font-size: 3em;
 margin: 2em;
 }

 .main{
  margin: auto;
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: center;
  border: 4px solid #73AD21;
  padding: 10px;
  width: 70%;
  border-radius: 50px;
 }
.button {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.button:hover {background-color: #3e8e41}

.button:active {
  background-color: #CCCC00	;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
 .button {
  background-color: #FFFF00;
  color: black;
  border: 2px solid whitesmoke; /* Green */
  transition-duration: 0.4s;
  width: 100%;
}

.button:hover {
  background-color: #CCCC00; /* Green */
  color: white;
}